<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALayer-DPUtils-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CALayer-DPUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3323E7391874DF320080EFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3323E74C1874DF320080EFE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33AC725E187852F10041CEB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33AC726C187852F20041CEB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
